/* FULL PAGE BACKGROUND */
.login-wrapper {
  width: 100%;
  height: 100vh;
  background: #f4f5f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN CARD */
.login-card {
  width: 960px;
  height: 580px;
  background: #ffffff;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 30px rgba(0,0,0,0.12);
}

/* LEFT SIDE PANEL */
.login-left {
  width: 50%;
  padding: 40px 45px;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #009ef7;
  margin-bottom: 10px;
  text-align: center;
}

.welcome-title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-top: 4px;
  margin-bottom: 25px;
  text-align: center;
}

.login-form {
  width: 100%;
}

.login-form label {
  font-size: 14px;
  font-weight: 600;
  margin-top: 18px;
  display: block;
}

.login-form input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #d6d6d6;
  margin-top: 6px;
  font-size: 14px;
  outline: none;
}

.login-form input:focus {
  border-color: #009ef7;
}


/* LOGIN BUTTON */
.login-btn {
  width: 100%;
  background: #13b4ff;
  color: white;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-top: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.login-btn:hover {
  background: #0093d8;
}

.terms-row {
  margin-top: 10px;
  display: left;
  align-items: left;   /* checkbox aligns with first line of text */
  font-size: 12px;
  color: #777;
  line-height: 1;
}

.terms-row input[type="checkbox"] {
  margin-right: 1px;         /* small space between box and text */
}

.terms-row label {
  max-width: 100%;
}

.terms-row span {
  color: #009ef7;
  cursor: pointer;
  text-decoration: underline;
}



/* SIGN UP */
.signup-text {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  font-weight: normal;
}

.signup-text a {
  color: #009ef7;
  cursor: pointer;
  text-decoration: none;
  margin-left: 3px;
}

.signup-text a:hover {
  text-decoration: underline;
}

/* RIGHT SIDE IMAGE */
.login-right {
  width: 50%;
}

.login-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ERROR BOX */
.error {
  background: #ffe1e1;
  color: #c60000;
  padding: 10px;
  border-left: 4px solid #c60000;
  margin-bottom: 15px;
  border-radius: 8px;
}
